%p
  %b First name:
  = @contact_person.first_name
%p
  %b Last name:
  = @contact_person.last_name
%p
  %b Email:
  = @contact_person.email
%p
  %b Phone:
  = @contact_person.phone
%p
  %b Client:
  = @contact_person.client_id

= link_to 'Edit', edit_client_contact_person_path(@contact_person)
\|
= link_to "All contact people of #{@client.name}", client_contact_people_path

= note_link(@contact_person, :first_and_last_name)

= note_form

