= form_for @developer do |f|
  
  -if @developer.errors.any?
    #errorExplanation
    %h2 
      = "#{pluralize(@developer.errors.count,'error')} prevented this developer from being saved"
    
    %ul
      - @developer.errors.full_messages.each do |msg|
        %li
          = msg
      
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'

    