= form_for @assignment do |f|
  -if @assignment.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :project_id
    = f.text_field :project_id
  .field
    = f.label :collaborator_id
    = f.text_field :collaborator_id
  .actions
    = f.submit 'Save'
