= form_for @contact_point do |f|
  -if @contact_point.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@contact_point.errors.count, "error")} prohibited this contact_point from being saved:"
      %ul
        - @contact_point.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :project_id
    = f.collection_select :project_id, Project.all.sort_by{|a| a.client_name_slash_project_name.downcase}, :id, :client_name_slash_project_name, :prompt => true
  .field
    = f.label :collaborator_id
    = f.collection_select :collaborator_id, Collaborator.all, :id, :first_and_last_name, :prompt =>true
    
  .field
    = f.label :contact_date_time
    = f.datetime_select :contact_date_time
    
  .field
    = f.label :minutes
    = f.text_area :minutes
    

  .actions
    = f.submit 'Save'
