%p
  %b Project:
  = @contact_point.project.try(:title)
%p
  %b Collaborator:
  = @contact_point.collaborator.try(:first_and_last_name)
  
%p
  %b Contact Person:
  = @contact_point.contact_person.try(:first_and_last_name)
  
%p
  %b Date
  = @contact_point.contact_date_time
  
%p
  %b Minutes
  = simple_format @contact_point.try(:minutes)

= link_to 'Edit', edit_contact_point_path(@contact_point)
\|
= link_to 'Back', contact_points_path

= note_link(@contact_point, :contact_date_time)

= note_form
