%h1 Listing collaborators

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Phone
    %th Type
    %th User
    %th
    %th
    %th
    %th

  - @collaborators.each do |collaborator|
    %tr
      %td= collaborator.first_name
      %td= collaborator.last_name
      %td= collaborator.email
      %td= collaborator.phone
      %td= collaborator.type
      %td= collaborator.user_id
      %td= link_to 'Show', collaborator
      %td= link_to 'Edit', edit_collaborator_path(collaborator)
      %td= link_to 'Destroy', collaborator, :confirm => 'Are you sure?', :method => :delete
      %td
        = note_link(collaborator, :first_and_last_name)

%br

= link_to 'New collaborator', new_collaborator_path

= note_form