#noteForm
  = form_for(Note.new(:noted => noted), :url => notes_path(:format => :json), :remote => true) do |f|
    = f.hidden_field :noted_id
    = f.hidden_field :noted_type
    = f.hidden_field :content_type, :value => "plain"
    
    .field
      = f.label :content, "blabla"
    .field
      = f.text_area :content
    .button
      = f.submit 'Save'
      = link_to 'Cancel', '#', :id => 'cancel_note'
:javascript
  jQuery("form.new_note").bind('ajax:success', function(data, status, xhr){
  
    $("#noteForm").stop().animate({'top' : '-400px'}, 200, function () {
    
      $("#noteForm").hide();
    
      // $("#stickyNotesBoard").html("schipps");
    
      // alert(status);
    
       //$("#noteJsonTempl").tmpl(status).prependTo("#stickyNotesBoard");
      
    });
    
    $("#modal_opacity").fadeOut(200);
    this.reset();
    return false;
  });
  jQuery('#cancel_note').click(function () {
    $("#noteForm").stop().animate({'top' : '-400px'}, 200, function () {$("#noteForm").hide()});
    $("#modal_opacity").fadeOut(200);
    return false;
  });