= form_for @client do |f|
  -if @client.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :homepage
    = f.text_field :homepage

  = f.fields_for :contact_people do |c|
    = c.label :first_name
    = c.text_field :first_name
    
  .actions
    = f.submit 'Save'
