%h1 Listing clients

%table
  %thead
    %tr
      %th Name
      %th Homepage
      %th
      %th
      %th
  %tbody
    - @clients.each do |client|
      %tr
        %td= link_to client.name, client
        %td= link_to client.homepage, client.homepage
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete
        %td
          = note_link(client, :name)

%br

= link_to 'New client', new_client_path

= note_form();