%h1 Listing clients

%table
  %tr
    %th Name
    %th Homepage
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= link_to client.name, client
      %td= link_to client.homepage, client.homepage
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New client', new_client_path
