#leftcontent
  %p
    %b Name:
    = @client.name
  %p
    %b Homepage:
    = @client.homepage

  %br

  - if @client.contact_people.any?
    Contact people
    %table
      %th Name
      %th Email 
      %th phone
    
      - @client.contact_people.each do |cp|
        %tr
          %td
            = cp.first_and_last_name
          %td
            = cp.email
          %td
            = cp.phone
  %br

  %table
    %th
  
    - @client.contact_points.each do |cp|
      -if cp.project.nil?
        %tr
          %td
            = cp.contact_date_time
        %tr
          %td
            = cp.minutes


  - if @client.projects.any?
    
    %h1
      Listing projects: 
    %ul
      - @client.projects.each do |project|
        %li
          = link_to project.title, project
          - if project.contact_points.any?
            %table
              %th Contact points
              - project.contact_points.each do |cp|
                %tr
                  %td
                    = cp.contact_date_time
                %tr
                  %td
                    = cp.minutes
          
  - else
    %h1
      This client has no projects yet

  %p

    = link_to 'All contact people', client_contact_people_path(@client)
    = link_to 'Add contact person', new_client_contact_person_path(@client)

    = link_to 'Add project', new_project_path(:project => {:client_id => @client})

  = link_to 'Edit', edit_client_path(@client)
  \|
  = link_to 'Destroy', @client, :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'All Clients', clients_path
  \|
  = note_link @client, :name

#rightcontent
  = render_cell :sticky_note_board, :display, :noted => @client

= note_form(@client)
