%p
  %b Title:
  = @project.title
%p
  %b Client:
  = @project.client.try :name

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', projects_path
