!!!
%html
  %head
    %title CRuMble
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.4.3.js"
    = javascript_include_tag "jquery.tmpl.js"
    = javascript_include_tag :defaults
    = javascript_include_tag "rails"
    = csrf_meta_tag
  %body.bp
    #modal_opacity.hidden
      
    #container
      #header
        #leftheader
          &nbsp;
        #midheader
          = render :partial => 'shared/menu'
        #rightheader
          &nbsp;
      #midpart
        #leftpart
          &nbsp;
          %h4 
            blablabl
          %h4
            sfkjahsdf

        #content
          = yield
      #footer

